.col {
    margin-top: 55px;
    font-size: 22px;
}

.navbar-brand {
    font-size: 32px;
}

body {
    background-image: url("light-grey-terrazzo.png")
}

form {
    background-color: white;
    margin-top: 30px;
}

.col-sm-12 {
    padding-top: 25px;
    /* height: 45px; */
    font-size: 32px;
}

.square {
    background-color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: teal;
    border-width: 6px 0px 6px 0px;
}
.container1{margin-left: 25px;}
